html, body, #container {
  height: 100%;
  margin: 0;
  padding: 0;
  /* overflow: hidden; */
  font-family: 'Noto Sans', sans-serif;
}

input {
  font-family: 'Noto Sans', sans-serif;
}

.PointerHover:hover{
  cursor: pointer;
}

.BannerBackGroudRed {
  background-image: linear-gradient(to right, rgb(255, 113, 74) 2%, rgb(252, 66, 66) 97%);
}
